html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  box-sizing: border-box;
  margin: 0;
  /*padding: 15px;*/
  /*cursor: none;*/
}

.multi {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.slideViewer-wrapper {
  height: 100%;
  width: 100%;
}

.multi .slideViewer-wrapper {
  height: calc(100vh / var(--multi));
  width: calc(100vw / var(--multi));
}
